[
    {barrel_docdb, [
        {data_dir, "data/barrel_docdb"},
        {default_store, barrel_store_rocksdb}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {logger_formatter, #{
                    template => [time, " [", level, "] ", pid, " ", msg, "\n"]
                }}
            }}
        ]}
    ]}
].
